.component {
  height: 100%;
  width: 100%;
  position: relative;
}

.smaller-component {
  position: absolute;
  width: 95%;
  height: 90%;
  left: 50%;
  top: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.smaller-component--stack {
  font-family: "Roboto";
  background-color: #219ebc;
}

.smaller-component--portfolio {
  font-family: "Roboto";
  background-color: #fb8500;
}

.smaller-component--about {
  background-color: #023047;
}

.smaller-component--contact {
  background-color: #219ebc;
}
