body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Applied for all components */
div[tabindex] > div {
  position: relative;
}

.white-edges {
  position: absolute;
  width: 95%;
  height: 90%;
  left: 50%;
  top: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

/* Presentation component */
#myPresentationVideo {
  position: absolute;
  width: 95%;
  height: 90%;
  left: 50%;
  top: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.teaser {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  text-align: center;
  color: #f1f1f1;
  transform: translate(-50%, -50%);
}

.teaser .btn-outline-warning {
  color: hsl(38, 82%, 63%);
  border-color: hsl(38, 82%, 63%);
}

.teaser .btn-outline-warning:hover {
  background-color: hsl(38, 82%, 63%);
  border-color: hsl(38, 82%, 63%);
}

/* Stack component */
.stack {
  font-family: "Roboto";
  background-color: #219ebc;
}

.container {
  position: relative;
}

.row > * {
  min-width: 80px;
  max-width: 220px;
}

/* Portfolio component */
.portfolio {
  font-family: "Roboto";
  background-color: #fb8500;
}

.portfolio-container {
  position: relative;
  background-color: #fff;
  width: 6rem !important;
  height: 6rem;
  border-radius: 0.5rem;
}

.icon-position {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-button {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #219ebc;
}

.portfolio-container:hover > .overlay {
  opacity: 1;
}

/* Portfolio modal component */
div[tabindex] > .modal-dialog {
  max-width: fit-content;
}

.project-video {
  object-fit: cover;
}

.portfolio-project-video {
  object-fit: cover;
}

/* Contact component */
.Toastify__toast-container .Toastify__toast--success {
  background: #fb8500;
}

/* MEDIA QUERIES */
/* Stack component */
@media (min-width: 992px) {
  .react-icon-alignment {
    margin-left: calc(var(--bs-gutter-x) * 0.5);
  }
}

@media (max-width: 767px) and (max-height: 824px) {
  .stacks-vertical-alignment {
    text-align: center;
  }
  .stack-icons-resizing {
    font-size: 3em;
  }
  .stack-icons-resizing-ts {
    width: 42px;
    height: 48px;
  }
}

/* Portfolio modal component */
@media (min-width: 1350px) {
  .portfolio-project-video {
    width: 950px;
    height: 400px;
  }
  .portfolio-description-width {
    max-width: 400px;
  }
  .modal-content .portfolio-modal-flex {
    flex-direction: row !important;
  }
}

@media (min-width: 1200px) {
  .project-video {
    width: 800px;
    height: 400px;
  }
  .stock-modal-height {
    height: 400px;
  }
  .timers-modal-height {
    height: 400px;
  }
  .description-width {
    max-width: 400px;
  }
}

@media (min-width: 900px) and (max-width: 1349px) {
  .portfolio-project-video {
    width: 840px;
    height: 350px;
  }
  .portfolio-description-width {
    max-width: 840px;
  }
  .portfolio-modal-height {
    height: 560px;
  }
}

@media (min-width: 750px) and (max-width: 1199px) {
  .project-video {
    width: 700px;
    height: 350px;
  }
  .portfolio-project-video {
    width: 850px;
    height: 350px;
  }
  .stock-modal-height {
    height: 560px;
  }
  .timers-modal-height {
    height: 530px;
  }
  .description-width {
    max-width: 700px;
  }
}

@media (max-width: 899px) {
  .portfolio-project-video {
    display: none;
  }
  .portfolio-description-width {
    max-width: 579px;
  }
}

@media (max-width: 749px) {
  .project-video {
    display: none;
  }
  .description-width {
    max-width: 482px;
  }
}

/* About component */
@media (max-width: 320px) and (max-height: 568px) {
  .about-description-font-size {
    font-size: 0.85rem;
  }
}
